.education {
  position: relative;
}

.education .education-entry {
  display: flex;
  justify-content: space-between;
}

.education .education-entry-edit {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
}

.education .edit-button {
  left: 11rem;
}

.education .save-button {
  left: 11rem;
}

.education .cancel-button {
  left: 15rem;
}
