.introduction {
  position: relative;
}

.introduction .edit-button {
  left: 14rem;
}

.introduction .save-button {
  left: 14rem;
}

.introduction .cancel-button {
  left: 18rem;
}

.introduction textarea {
  height: 6rem;
}
