.personal-info .personal-info-form,
.personal-info .overview {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 4px solid;
}

.personal-info .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-info img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.personal-info .contact-details {
  grid-column: 1/3;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.personal-info .edit-button,
.personal-info .save-button,
.personal-info .cancel-button {
  position: absolute;
}

.personal-info .cancel-button {
  left: 3rem;
}

.personal-info input[type="file"] {
  display: none;
}

.personal-info .change-photo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #ffffff8c;
  background-color: #00000059;
  border-radius: 50%;
  cursor: pointer;
}
