.work-experience {
  position: relative;
}

.work-experience .job,
.work-experience .job-edit {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
}

.work-experience .description,
.work-experience .description-edit {
  grid-column: 1/3;
}

.work-experience .edit-button {
  left: 17.5rem;
}

.work-experience .save-button {
  left: 17.5rem;
}

.work-experience .cancel-button {
  left: 21.5rem;
}
